---
---

@import "{{ site.theme }}";

body {
    margin: 0;
    padding: 0;
}
 
.head {
    height: 30vh;
    box-sizing: border-box;
    position: fixed;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    padding: 30px;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #136a13;
    color: #fff;
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30vh;
    margin-left: 200px;
    text-align: justify;
}
 
.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
 
/* Change background color on hover */
.sidebar a:hover {
    background-color: #2980b9;
}

