---
---

@import "{{ site.theme }}";

body {
    margin: 0;
    padding: 0;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #136a13;
    border-radius: 10px;
}
 
li {
    display: inline;
    background-color: #136a13;
}
 
li a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10px;
}
 
li a:hover {
    background-color: #2980b9;
    border-radius: 10px;
}
 
.button {
  background-color: #2980b9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
 
.active {
    background-color: #04AA6D; 
    border-radius: 10px;
}
 
.container {
    height: 120vh;
    box-sizing: border-box;
    display: flex;
}
 
.headbar {
    height: 15vh;
    left: 0;
    top: 0;
    background-color: #136a13;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
}
 
.sidebar {
    width: 200px;
    height: 120vh;
    left: 0;
    top: 15vh;
    padding: 20px;
    background-color: #136a13;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
}
 
.content {
    flex: 1;
    left: 15px;
    top: 20vh;
    box-sizing: border-box;
    margin-left: 200px;
    text-align: justify;
}
 
.nemo {
}
 
.nemo a {
    display: inline;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    border-radius: 10px;
}
 
.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    border-radius: 10px;
}
 
/* Change background color on hover */
.sidebar a:hover {
    background-color: #2980b9;
    border-radius: 10px;
}

